<div class="row ">
    <div class="col s8 offset-s2">
      <div class="card ">
        <div class="sm-jumbotron center-align">  
          <h2 class="text-center">Edit User</h2>
   <form name="EmpeditForm" action="" method="post" class="col.s12.white" #EmpeditForm="ngForm">
    <div class="row" >
        <div class="form-group col-md-4 ">
       <label>Id</label>
        <input type="number" class="form-control" name="id"  id="id"  [(ngModel)]="empData.id" required>
        </div>
        <div class="input-field col-md-4">
      <label>Name</label>
      <input type="text" class="form-control" name="name" id="name" [(ngModel)]="empData.name" required>
    </div>
  <div class="form-group  col-md-4">
      <label>Age</label>
      <input type="number" class="form-control" name="age" id="age" [(ngModel)]="empData.age" required>
      
  </div>
  </div>
  <div class="row" >
  <div class="form-group col-md-4">
      <label>DOB</label>
      <input type="text" class="form-control" name="dob" id="dob" [(ngModel)]="empData.dob" required>
  </div>
  <div class="form-group  col-md-4 ">
      <label>degree</label>
      <input type="text" class="form-control" name="degree" id="degree" [(ngModel)]="empData.degree" required>
    </div>
    <div class="form-group  col-md-4">
        <label>department</label>
        <input type="text" class="form-control" id="department" name="department" [(ngModel)]="empData.department" required>
    </div>
  </div>
  <div class="row" >
      <div class="form-group  col-md-4">
        <label>grade</label>
        <input type="text" class="form-control" name="grade" id="grade" [(ngModel)]="empData.grade" required>
       </div>
  </div>

          <div class="row" >
      <div class="form-group col-md-12 text-center">
          <!-- login(EmpForm.value)-->
          <button class="btn btn-default"  (click)= "openModal(template)">Update</button> 
          <ng-template #template>
                <div class="modal-body text-center">
                  <p>Record Updated !</p>
                 <button type="button" class="btn-large btn-submit"  type="submit" (click)="update()" >Ok</button>
                </div>
              </ng-template>
              </div>   
    

        </div>
  
        
        

    </form>
        </div>
      </div>
      </div>
    </div>